<h1>Maintenance Log</h1>

<p>Maintenance Person: <%= @maintenance_log.maintenance_person %></p>
<p>Water Change: <%= @maintenance_log.water_change %></p>
<p>Maintenance Duration: <%= @maintenance_log.maintenance_duration_minutes %> minutes</p>
